#loader {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  z-index: 999;
  position: fixed;
}
